.skills {
    background-color: #333;
    margin-top: 20px;
    height: 60px;
    width: 80%;
    border: solid 1px white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skillBox {
    height: 40px;
    width: 40px;
    background-color: #AAA;
    border: solid 1px white;
}

.onCoolDown {
    opacity: 0.2;
}

.appendedText {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerSkills {
    position: relative;
}